<h1>Active data</h1>

<%= form_tag data_path, :method => 'get' do %>
  <p>
    Limit to: <%= number_field_tag :top_x, params[:top_x], :min => 1 %> records.
    <%= submit_tag "Submit", :name =>nil %>
  </p>
<% end %>

<p>
  <%= link_to "Download as csv file", data_path(format: "csv", :top_x => params[:top_x]) %>
</p>

<%= link_to "Import data", new_datum_path %><br>
<%= link_to "Check data suppliers", controller: 'suppliers' %><br>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Supplier</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |datum| %>
      <tr>
        <td><%= datum.name %></td>
        <td><%= datum.phone %></td>
        <td><%= @supplier.find(datum.supplier_id).name %></td>
        <td><%= link_to 'Show', datum %></td>
        <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
        <td><%= link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>